{% extends 'core/base.html' %}
{% load static %}
{% block title %}Listado Dispositivo{% endblock %}
{% block content %}
{% include 'devices/includes/devices_menu.html' %}
<main role="main">
    <div class="container mb-4">
        {% for device in object_list|dictsort:"id" reversed %}
        <div class="row mt-3">
            <div class="col-md-9 mx-auto">
                <h2 class="mb-4">{{device.name}}</h2>
                <div>
                    <p>{{device.description|striptags|safe|truncatechars:"10"}}</p>
                    <p><a href="{% url 'devices:device' device.id device.name|slugify %}">Leer más</a>
                        {% if request.user.is_staff %}
                        | <a href="{% url 'devices:update' device.id %}">Editar</a>
                        | <a href="{% url 'devices:delete' device.id %}">Borrar</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}