{% extends 'core/base.html' %}
{% load static %}
{% block title %}Listado Dispositivo{% endblock %}
{% block content %}
{% include 'suppliers/includes/suppliers_menu.html' %}
<main role="main">
    <div class="container mb-4">
        {% for supplier in object_list|dictsort:"id" reversed %}
        <div class="row mt-3">
            <div class="col-md-9 mx-auto">
                <h2 class="mb-4">{{supplier.name}}</h2>
                <div>
                    <p>{{supplier.description|striptags|safe|truncatechars:"10"}}</p>
                    <p><a href="{% url 'suppliers:supplier' supplier.id supplier.name|slugify %}">Leer más</a>
                        {% if request.user.is_staff %}
                        | <a href="{% url 'suppliers:update' supplier.id %}">Editar</a>
                        | <a href="{% url 'suppliers:delete' supplier.id %}">Borrar</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}