{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actualizar Paginas{% endblock %}
{% block content %}
{% include 'categories/includes/categories_menu.html'%}
<main role="main">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-9 mx-auto">
                <div>
                    {% if 'ok' in request.GET %}
                    <p style="color:green;">
                        <a href="{% url 'categories:category' category.id category.name|slugify %}">Categoria Editada
                            Correctamente.</a>.
                    </p>
                    {% endif %}
                    <form action="" method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary btn-block" value="Actualizar Categoria"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}