<!--{% extends 'core/base.html' %}-->
<!--{% load static %}-->
<!--{% block title %}Inicio{% endblock %}-->
<!--{% block content %}-->

<!--<div class="container text-center my-4">-->

<!--    <button class="btn btn-info btn-sm btn-rounded" id="randomizeData">Randomize Data</button>-->
<!--    <button class="btn btn-info btn-sm btn-rounded" id="addDataset">Add Dataset</button>-->
<!--    <button class="btn btn-info btn-sm btn-rounded" id="removeDataset">Remove Dataset</button>-->
<!--    <button class="btn btn-info btn-sm btn-rounded" id="addData">Add Data</button>-->
<!--    <button class="btn btn-info btn-sm btn-rounded" id="removeData">Remove Data</button>-->

<!--    <canvas id="lineChart"></canvas>-->

<!--</div>-->

<!--<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">-->
<!--<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">-->
<!--&lt;!&ndash; Estilos &ndash;&gt;-->
<!--<link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">-->
<!--<link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'charts/css/style.css' %}">-->
<!--<script src="{% static 'charts/dist/Chart.min.js' %}"></script>-->

<!--<script src="{% static 'charts/js/prueba.js' %}"></script>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--<script src="https://code.highcharts.com/highcharts.src.js"></script>-->
<!--{% endblock %}-->